// TYPOGRAPHY
@import "../utils/_mixins.scss";
@import "../utils/_variables.scss";

body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $textcolor;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
