// VARIABLES

$accent: #fd7b5c; // Accent Color
$fontsize: 14px; // Body Font Size
$textcolor: #111315; // Text Color
$grey: #878787; // Time Color
$blue: #183d67; // Sent Background
$bg: #e5e5e5; // Background Color
$border: #e7e7e8; // Border Color
$lineheight: 1.42; // Document Line Height
$fontweight: 400; // Document Font Weight
$userfont: PlusJakartaSans, sans-serif; // User Font Family
